<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>员工列表</title>
</head>
<body>
<table class="employees_table">
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
    </tr>
    <tr th:if="${#lists.isEmpty(employeeList) or #lists.size(employeeList) eq 0}">
        <td colspan="4">暂无数据</td>
    </tr>
    <tr th:each="employee:${employeeList}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.age}"></td>
        <td th:text="${employee.gender}"></td>
    </tr>
</table>

</body>
</html>